[Unit]
Description=CigerTool terminal arayuzu
After=systemd-user-sessions.service local-fs.target
Before=getty@tty1.service
Conflicts=getty@tty1.service
ConditionPathExists=/usr/local/bin/cigertool-launch

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/cigertool-launch
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=no

[Install]
WantedBy=multi-user.target
